<form method="post">
    <div class="modal-body">
        <div class="col-md-12 col-xs-12 login_control">
           
                {% csrf_token %}
            <div class="control">
                    <div class="label">Email Address</div>
                    <input type="text" class="form-control" value=""/>
            </div>
            
            <div class="control">
                    <div class="label">Password</div>
                    <input type="password" class="form-control" value=""/>
            </div>
                
            
        </div>
    </div>

    <div class="modal-footer" >
        <button class="btn btn-orange">LOGIN</button>
    </div>

</form>