{% load add_tags %}
<div class="control">
    <div class="label">First Name</div>
    {{form.first_name|add_attr:"class:form-control"}}  
</div>

 <div class="control">
    <div class="label">Last Name</div>
    {{form.last_name|add_attr:"class:form-control"}}  
</div>

<div class="control">
    <div class="label">User Name</div>
    {{form.username|add_attr:"class:form-control"}}  
</div>

<div class="control">
    <div class="label">Email Address</div>
    {{form.email|add_attr:"class:form-control"}}  
</div>

<div class="control">
    <div class="label">Password</div>
    {{form.password1|add_attr:"class:form-control"}}  
</div>
    

<div class="control">
    <div class="label">Confirm Password</div>
    {{form.password2|add_attr:"class:form-control"}}  
</div>