   div h3 span{
        color : #FFF;
        font-size:14px;
   }
   
   h1{
        font-weight: 200;
   }

   .login_control{
       background-color:#FFF;
       padding:10px;
       
   }
   
   .control {
       color:#000;
       margin:10px;
   }
   
   .label {
       color: #EB4F26;
       font-size: 18px;
       font-weight: 500;
   }
   
   .form-control{
       color: #000000 !important;
       font-size: 25px;
       border: none;
       padding: 10px;
       padding-left: 10px;
       border-bottom: 1px solid #CCC;
       margin-bottom: 10px;
       outline: none;
       -webkit-box-shadow: none !important;
       -moz-box-shadow: none !important;
       box-shadow: none !important;
   }
   
   .form-control:focus{
       border-radius: 0px;
       border-bottom: 1px solid #FC563B;
       margin-bottom: 10px;
       outline: none;
       -webkit-box-shadow: none !important;
       -moz-box-shadow: none !important;
       box-shadow: none !important;
   }
   .btn-orange{
       background-color: #FC563B;
       border-radius: 0px;
       margin: 5px;
       padding: 5px;
       width: 150px;
       font-size: 20px;
       font-weight: inherit;
       border-radius: 50px;
   }
   
   .btn-orange:hover {
       background-color: #F22F26;
       border-radius: 0px;
       margin: 5px;
       padding: 5px;
       width: 150px;
       font-size: 20px;
       font-weight: inherit;
       color:#FFF !important;
       border-radius: 50%;
   }
   
   .line{
       border-bottom : 2px solid #F32D27;
   }
   
   
   .outter{
       padding: 0px;
       border: 1px solid rgba(255, 255, 255, 0.29);
       border-radius: 50%;
       width: 200px;
       height: 200px;
   }
   